body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.table {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    text-align: center;
}

.table .btn {
    margin: 0 1px;
}

.table-container {
    overflow-x: auto;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons .btn {
    margin-right: 0.5rem;
}

.modal-content {
    border-radius: 8px;
}

.logout-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.logout-container .btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.logout-container .btn:hover {
    background-color: #c82333;
}